.titulo-login{
    margin-left: 280px;
}
.google{
    border-radius: 50px;
    height: 30px;
   margin: 15px;
   background-color: white;
   margin-left: 300px;
   padding: 0 25px;
}
.apple{
    border-radius: 50px;
    height: 30px;
    margin-left: 35px;
    background-color: white;
    margin-left: 300px;
    padding: 0 50px;
}
.formulario{
    height: 30px;
    margin: 15px;
    margin-left: 300px;
    padding: 0 29px;
}
.avançar{
    padding: 0 90px;
    border-radius: 50px;
    margin-left: 20px;
    background-color: black;
    height: 25px;
    margin-left: 300px;
    
}
.botao{
    color: white;
}
.hr{
    width: 300px;
    margin-left: 250px;
}
.esquecer{
    border-radius: 50px;
    padding: 5px 45px;
    background-color: white;
    margin-left: 300px;
}
.iscreva-se{
    margin-left: 300px;
}
.caixa-principal{
    
}































































































































































































































































































































































































































































